<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header id="techblog" class="display-flex justify-space-between align-center p-2">
      <nav>
        <button class="no-button" id="home">home</button>
        <button class="no-button" id="dashboard">dashboard</button>

        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
      <br>
      <h1 id="title"><a href="/">The Tech Blog</a></h1>

    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
      {{!-- <div id="mvc">
        <h2>Why MVC is so important</h2>
        <p>MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer  </p>
      </div>
      <div id="authentication">
        <h2>Authentication vs. Autho</h2>
        <p>There is a difference between</p>
      </div>
      <div id="object">
        <h2>Object-Relational</h2>
        <p>I have really loved learning </p>
      </div> --}}

    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>